@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dropdown slide in & out */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-out {
  animation: slideOut 0.5s ease-out;
  animation-fill-mode: forwards;
}

/* ------------------------------------- */

@keyframes slideInGroup {
  from {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  to {
    transform: scaleY(100%);
    transform-origin: 100% 0%;
  }
}

.animate-slide-in-group {
  animation: slideInGroup 0.1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes slideOutGroup {
  from {
    transform: scaleY(100%);
    transform-origin: 90% 10%;
  }
  to {
    transform: scaleY(0);
    transform-origin: 90% 10%;
  }
}

.animate-slide-out-group {
  animation: slideOutGroup 0.5s ease-out;
  animation-fill-mode: backwards;
}

/* Pop-up contact blob animations */

@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}

.animate-pop-up {
  animation: popUp 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes popOut {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}

.animate-pop-out {
  animation: popOut 0.4s ease-in;
  animation-fill-mode: forwards;
}

@keyframes openUp {
  from {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
  }
  to {
    height: 7rem;
    width: 80%;
    border-radius: 3%;
  }
}

@media screen and (min-width: 640px) {
  @keyframes openUp {
    from {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
    }
    to {
      height: 7rem;
      width: 25em;
      border-radius: 3%;
    }
  }
}

.animate-open-up {
  animation: openUp 0.2s ease-in;
  animation-fill-mode: forwards;
}

@keyframes close {
  from {
    height: 7rem;
    width: 80%;
    border-radius: 3%;
  }
  to {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
  }
}

@media screen and (min-width: 640px) {
  @keyframes close {
    from {
      height: 7rem;
      width: 25em;
      border-radius: 3%;
    }
    to {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
    }
  }
}

.animate-close {
  animation: close 0.2s ease-in;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 100%;
    display: block;
  }
  to {
    opacity: 0%;
    display: none;
  }
}

.animate-hide {
  animation: hide 0.2s ease-in;
  animation-fill-mode: forwards;
}

@keyframes unhide {
  from {
    opacity: 0%;
    display: none;
  }
  to {
    opacity: 100%;
    display: block;
  }
}

.animate-unhide {
  animation: unhide 0.2s ease-in;
  animation-fill-mode: forwards;
}
